.body{
    background-color:var(--gray-background) ;
}
.login-button{
    height:38px ;
    
}
.forgot-acount-button{
    text-decoration: none;
}
.forgot-acount-button:hover{
    text-decoration: underline;
    cursor: pointer;
}