<header class="row row-cols-2 justify-content-between py-1 px-3  bg-white m-0">
    <p class="text-primary fw-bold fs-3 align-self-center  m-0">facebook</p>
    <div class="row row-cols-4 align-content-center w-auto">
        <input class="input2 " placeholder="Correo electronico o telefono"  type="text">
        <input class="input2 " placeholder="Contraseña" type="text">
        <p class="p-0 m-0 align-self-center btn btn-primary  text-center w-auto px-2 pt-1 fw-bold  login-button" >Iniciar sesion</p>
        <a  class="p-0 mx-2 align-self-center forgot-acount-button w-auto">¿Olvidaste la cuenta?</a>
    </div>
</header>
<div class="body py-5"><app-recover-password-core></app-recover-password-core></div>
<app-footer-core></app-footer-core>
