<footer class=" d-flex bg-withe justify-content-center pt-4">
    <div class="footer-content">
        <div class="col d-flex justify-content-start align-content-end " >
            <p class="my-0 me-2  p-0 lenguague">Español</p>
            <p class="my-0 me-2  p-0 lenguague">English (US)</p>
            <p class="my-0 me-2  p-0 lenguague">Français (France)</p>
            <p class="my-0 me-2  p-0 lenguague">Português (Brasil)</p>
            <p class="my-0 me-2  p-0 lenguague">Italiano</p>
            <p class="my-0 me-2  p-0 lenguague">Deutsch</p>
            <p class="my-0 me-2  p-0 lenguague">العربية</p>
            <p class="my-0 me-2  p-0 lenguague">हिन्दी</p>
            <p class="my-0 me-2  p-0 lenguague">中文(简体)</p>
            <p class="my-0 me-2  p-0 lenguague">日本語</p>
            <button class="m-0 py-0 px-1 w-auto more-button  text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20 " height="20 " 
                     fill="currentColor" class="bi bi-plus align-self-center p-0 m-0" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                 </svg>
            </button>
        </div>
        <hr class="col ">
        <div class="row">
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Registrarte</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Iniciar sesión</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other" >Messenger</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Facebook</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Watch</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Lugares</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Juegos</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Marketplace</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Meta Pay</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other"> Oculus</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Portal</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other"> Instagram</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Bulletin</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Recaudaciones de fondos</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Servicios</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Centro de información de votación</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Política de privacidad</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other"> Centro de privacidad</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Grupos</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Información</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Crear anuncio</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Crear página</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Desarrolladores</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Empleo</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Cookies</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Opciones de anuncios
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="13" height="13" 
                    fill="currentColor" class="bi bi-caret-right m-0 p-0 text-primary" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
            </P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Condiciones</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Ayuda</P>
            <P class="col-auto mx-2 my-0 p-0   w-auto  other">Subir contactos y no usuarios</P>
            <a href="https://github.com/Alex-tintor" class="col-12 mx-2 my-3 p-0   w-100  credits">Alex-Tintor 2022</a>
        </div>
    </div>
    
</footer>
