.card-text{
    font-size: 19px;
    line-height: 20px;
}
.recover-input{
    border: 1px solid rgba(128, 128, 128, 0.341) ;
    border-radius:5px;
    padding-top: 8px;
    padding-bottom:10px ;
    padding-left:12px ;
    padding-right: 12px;
    font-size: 15px;
}