<div class=" d-flex justify-content-center my-5">
    <div class=" card" style="width:500px;">
        <div class="card-body">
        <h5 class="card-title">Recupera tu cuenta</h5>
        <hr>
        <p class="card-text">Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</p>
        <input class="col-12 recover-input" type="text" placeholder="Correo electronico o numero de telefono">
        <p class="card-link">Card link</p>
        <a class="card-link">Another link</a>
        </div>
    </div>
</div>
